name = "senti-bot-worker"
main = "index.js"
compatibility_date = "2025-01-01"

[vars]
BOT_USERNAME = "YOUR_BOT_NAME"
APP_URL = "https://YOURDOMAIN/app"
APP_PUBLIC = "https://YOURDOMAIN"

[kv_namespaces]
binding = "SENTI_KV"
id = "YOUR_KV_ID"
